* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: gray;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 55px;
}

main * {
    margin: 5px;
}